.list-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 98%;
  height: 58px;
  min-height: 58px;
  padding: 0px 12px;
  background-color: #abdfae;
  border-radius: 12px;
  margin-bottom: 24px;
  background-color: #f0f1f6;
  border: 2px solid #abdfae;
}

.list-card-container:hover {
  background-color: #eaf7ea;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 12px;
}

.list-card-text-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.list-card-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 4px;
}

.list-card-subtitle {
  font-size: 14px;
}

.arrow-icon {
  width: 12px;
  height: 12px;
  object-fit: contain;
  cursor: pointer;
}
